
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
*{
    text-align: justify;
    font-family: 'Tinos', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.star{
  color: #24A1FD;
}
.HelpingIcon{
  font-size: 40px;
  color: #EB3349;
  /* margin: auto; */
  /* margin: 50%; */
}
